
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  border: none;
  outline: none;
  
}
html {
  font-size: 62.5%;
/* overflow:initial; */
overflow-x: hidden;
}
body{
  /* font-family: "Nunito", sans-serif; */
}
